<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Character encoding declaration -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsive viewport declaration -->
    <title>Thank You for Submitting</title> <!-- Title of the webpage -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/submitted.css') }}"> <!-- Linking external CSS file -->
</head>
<body>

<div class="container">
    <!-- Container for the entire content -->
    <div class="content">
        <!-- Content section -->
        <h1>Thank You for Submitting</h1> <!-- Heading for the confirmation message -->
        <p>Your form has been successfully submitted. We appreciate your participation.</p> <!-- Confirmation message -->
        <p>We'll check your data and store it in our collection!</p> <!-- Additional information message -->
        <a href="data-collection" class="submit-another-btn">Submit Another Form</a> <!-- Link to submit another form -->
    </div>
    <!-- End of content section -->

    <!-- Footer section -->
    <footer>
        <p>&copy; 2024 Glasgow International College. All rights reserved.</p> <!-- Copyright information -->
    </footer>
    <!-- End of footer section -->
</div>
<!-- End of container -->

</body>
</html>
